<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs'); %>
  </head>
  <body class="g-sidenav-show bg-gray-100">
    <%- include('../../partials/admin/sidebar.ejs'); %>
    <main
      class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
    >
      <%- include('../../partials/navbar.ejs'); %>

      <div v-cloak id="app">
        <v-app>
          <div class="container-fluid py-4">
            <!-- card status -->
            <div class="row">
              <div class="col-xl-4 col-12 mb-4">
                <div class="card card-count___ticket" @click="filterTicket()">
                  <div class="card-body p-3">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p
                            class="text-sm mb-0 text-capitalize font-weight-bold"
                          >
                            ALL Ticket
                          </p>
                          <h5 class="font-weight-bolder mb-0">
                            {{ ticketData.all_t.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div
                          class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                        >
                          <v-icon class="opacity-10 text-large" color="white">
                            mdi-ticket-confirmation-outline
                          </v-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-12 mb-4">
                <div class="card card-count___ticket" @click="filterTicket(1)">
                  <div class="card-body p-3">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p
                            class="text-sm mb-0 text-capitalize font-weight-bold"
                          >
                            NEW Ticket
                          </p>
                          <h5 class="font-weight-bolder mb-0">
                            {{ ticketData.new_t.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div
                          class="icon icon-shape bg-gradient-info shadow text-center border-radius-md"
                        >
                          <v-icon class="opacity-10 text-large" color="white">
                            mdi-tag-plus-outline
                          </v-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-12 mb-4">
                <div class="card card-count___ticket" @click="filterTicket(2)">
                  <div class="card-body p-3">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p
                            class="text-sm mb-0 text-capitalize font-weight-bold"
                          >
                            PENDING
                          </p>
                          <h5 class="font-weight-bolder mb-0">
                            {{ ticketData.pen_t.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }}
                          </h5>
                        </div>
                      </div>
                      <div class="col-4 text-end">
                        <div
                          class="icon icon-shape bg-gradient-warning shadow text-center border-radius-md"
                        >
                          <v-icon class="opacity-10 text-large" color="white">
                            mdi-timer-sand
                          </v-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card status -->

            <div class="row">
              <v-card class="d-flex justify-center flex-wrap" flat tile>
                <v-chip
                  @click="filtersCatalog(c.catalog_id)"
                  class="ma-2"
                  v-for="c of ticketData.c_group"
                  color="orange lighten-1"
                  text-color="white"
                  large
                >
                  <div
                    class="d-flex white-text flex-column justify-content-center px-3"
                  >
                    <h6 style="color: #fff !important" class="mb-0 text-sm">
                      {{ c.catalog_nameTH }}
                    </h6>

                    <p class="text-xs mb-0 text-center">
                      ( {{ c.catalog_nameEN }} )
                    </p>
                  </div>

                  <v-avatar right class="indigo darken-4">
                    {{ c.total }}
                  </v-avatar>
                </v-chip>
              </v-card>
            </div>

            <!-- table -->
            <div class="row">
              <div class="col-12">
                <div class="card mb-4">
                  <div class="card-header pb-0 mb-3">
                    <div class="row">
                      <div class="col-12 col-md-4 col-sm-4">
                        <h6>Ticket list</h6>
                        <div class="sub-title">รายการ Ticket</div>
                      </div>

                      <div class="col-12 col-md-8 col-sm-8">
                        <!-- search -->
                        <div
                          class="px-5 ms-md-auto pe-md-3 d-flex justify-end mb-3"
                        >
                          <div class="input-group search___bar">
                            <span class="input-group-text text-body"
                              ><i class="fas fa-search" aria-hidden="true"></i
                            ></span>
                            <input
                              v-model="table.search"
                              type="text"
                              class="form-control px-3"
                              placeholder="Type here..."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive px-2">
                      <v-data-table
                        ref="tickettable"
                        class="table align-items-center mb-0"
                        :headers="table.headers"
                        :items="table.ticket"
                        :search="table.search"
                        :items-per-page="5"
                        class="elevation-1"
                      >
                        <!-- DATE CREATED -->
                        <template v-slot:item.create_date="{ item }">
                          <span class="text-secondary text-xs font-weight-bold">
                            {{
                              moment
                                .unix(item.createdAt)
                                .locale("th")
                                .format("DD/MM/YYYY HH:mm")
                            }}</span
                          >
                        </template>

                        <!-- INFORMER -->
                        <template v-slot:item.mname="{ item }">
                          <div class="d-flex px-2 py-1">
                            <div>
                              <v-avatar
                                class="me-3 white--text"
                                :color="profileColor"
                                rounded
                                size="30"
                              >
                                {{ item.mname.charAt(0) }}
                              </v-avatar>
                            </div>
                            <div
                              class="d-flex flex-column justify-content-center"
                            >
                              <h6 class="mb-0 text-sm">{{ item.mname }}</h6>
                              <p class="text-xs text-secondary mb-0">
                                {{ item.mcode }}
                              </p>
                            </div>
                          </div>
                        </template>

                        <!-- TYPE -->
                        <template v-slot:item.catalog_name="{ item }">
                          <p class="text-xs font-weight-bold mb-0">
                            {{ item.catalog.TH }}
                          </p>
                          <p class="text-xs text-secondary mb-0">
                            {{ item.catalog.EN }}
                          </p>
                        </template>

                        <!-- STATUS -->
                        <template v-slot:item.status="{ item, key }">
                          <v-edit-dialog
                            v-if="item.status.id === 1 || item.status.id === 2"
                            @save="save(item.ticket_id, item.status.EN)"
                            :return-value.sync="item.status.EN"
                            large
                            persistent
                          >
                            <v-chip :color="getColor(item.status.id)" small>
                              {{ item.status.EN }}
                            </v-chip>

                            <template v-slot:input>
                              <div class="mt-4">Change status</div>
                              <select
                                v-model="item.status.EN"
                                label="Edit"
                                single-line
                                counter
                                autofocus
                                name="selectStatus"
                                class="form-control"
                              >
                                <option value="Open ticket">Open ticket</option>
                                <option value="Pending">Pending</option>
                                <option value="Close">Close</option>
                                <option value="Reject">Reject</option>
                              </select>
                            </template>
                          </v-edit-dialog>

                          <v-chip
                            v-else
                            :color="getColor(item.status.id)"
                            small
                          >
                            {{ item.status.EN }}
                          </v-chip>
                        </template>

                        <!-- LAST UPDATE -->
                        <template v-slot:item.approve_date="{ item }">
                          <span
                            v-if="item.approve_date != 0"
                            class="text-secondary text-xs font-weight-bold"
                          >
                            {{
                              moment
                                .unix(item.approved)
                                .locale("th")
                                .format("DD/MM/YYYY HH:mm")
                            }}</span
                          >

                          <span
                            v-else
                            class="text-secondary text-xs font-weight-bold"
                          >
                            -
                          </span>
                        </template>

                        <!-- VIEW -->
                        <template v-slot:item.actions="{ item }">
                          <v-btn
                            small
                            v-if="item.status.id === 1 || item.status.id === 2 || item.status.id === 3"
                            @click="window.location.href=`/admin/support/scm/thread/detail/${item.ticket_id}`"
                            outlined
                            color="cyan"
                            class="white--text actions-btn"
                          >
                            <v-icon> mdi-note-search </v-icon>
                          </v-btn>
                        </template>
                      </v-data-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end table -->

            <!-- snackbar -->
            <v-snackbar v-model="snackbar">
              {{ text }}

              <template v-slot:action="{ attrs }">
                <v-btn
                  color="pink"
                  text
                  v-bind="attrs"
                  @click="snackbar = false"
                >
                  Close
                </v-btn>
              </template>
            </v-snackbar>
            <!-- end snackbar -->
          </div>
        </v-app>
      </div>
    </main>

    <footer><%- include('../../partials/footer.ejs'); %></footer>

    <script type="text/javascript">
      const baseUrl = "<%- baseUrl %>";
      const role = "<%- role %>";
      const ticketData = JSON.parse(`<%-JSON.stringify(ticket[0])%>`);
      const ticketStatus = [];
      const nameUser = "<%- admin %>";
      const uId = "<%- id %>";
      const branch = "<%- branch %>";

      const app = new Vue({
        el: "#app",
        vuetify: new Vuetify(), // called vuetify
        data: {
          profileColor: "orange",
          snackbar: false,
          text: null,
          table: {
            headers: [
              {
                text: "TICKETID",
                align: "start",
                value: "ticket_id",
              },
              {
                text: "DATE CREATED",
                value: "create_date",
              },
              {
                text: "INFORMER",
                value: "mname",
              },
              {
                text: "TICKET TYPE",
                value: "catalog_name",
              },
              {
                text: "STATUS",
                align: "center",
                value: "status",
              },
              {
                text: "LAST UPDATE",
                align: "center",
                value: "approve_date",
              },
              {
                align: "center",
                value: "actions",
              },
            ],

            ticket: ticketData.t_list.sort((a, b) => b.ticket_id - a.ticket_id),
            search: "",
          },
        },

        watch: {},

        computed: {},

        methods: {
          async save(ticketId, statusName) {
            let status = this.getStatusId(statusName);

            if (confirm(`Change status to ${statusName}?`)) {
              let result = await axios
                .put(`${baseUrl}update/status`, {
                  id: ticketId,
                  status: status,
                  user: {
                    id: uId,
                    uname: nameUser,
                  },
                })
                .then(function (response) {
                  return response;
                })
                .catch(function (error) {
                  console.log(error);
                });

              if (result.status !== 200) {
                this.snackbar = true;
                this.text = result.data.message;
                return;
              }

              this.snackbar = true;
              this.text = result.data.message;
              this.timeout = 1000;
              setTimeout(() => window.location.reload(), 1500);
            }
          },

          getStatusId(statusName) {
            switch (statusName) {
              case "Open ticket":
                return 1;
                break;
              case "Pending":
                return 2;
                break;
              case "Close":
                return 3;
                break;
              case "Cancel":
                return 4;
                break;
              case "Reject":
                return 5;
                break;
            }
          },

          getColor(id) {
            switch (id) {
              case 1:
                return "light-blue";
                break;
              case 2:
                return "amber";
                break;
              case 3:
                return "light-green";
                break;
              case 4:
              case 5:
                return "red lighten-2";
                break;
            }
          },

          filterTicket(status) {
            if (!status) return (this.table.ticket = ticketData.t_list);

            this.table.ticket = ticketData.t_list.filter(
              (el, index, item) => item[index].status.id === status,
            );

            this.ticketStatus = this.table.ticket;

            return this.table.ticket && this.ticketStatus;
          },

          filtersCatalog(cId) {
            if (!this.ticketStatus) {
              return (this.table.ticket = ticketData.t_list.filter(
                (el, index, item) => item[index].catalog.id === cId,
              ));
            }

            return (this.table.ticket = this.ticketStatus.filter(
              (el, index, item) => item[index].catalog.id === cId,
            ));
          },
        },

        created() {},

        mounted() {},

        updated() {},
      });
    </script>
  </body>
</html>
